/* contact section */

.contact {
  height: auto;
  padding: 8rem 0;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  align-items: center;
}

.contact__item {
  width: 50%;
}

.contact__item_form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 25px;
}

.contact__item_p {
  font-size: 20px;
  font-family: var(--font-family-raleway);
  line-height: 1.9;
  color: var(--color-blue-800);
}

.contact__item_email {
  text-decoration: underline;
  font-weight: 800;
  font-family: var(--font-family-poppins);
  font-size: 18px;
  margin: 2.5rem 0;
  color: var(--color-email-link);
}

.contact__input {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0.25rem 0;
  height: 2.6rem;
  color: var(--color-blue-800);
  border-bottom: 0.1rem solid var(--color-blue-900);
  background: transparent;
  flex: 1;
  font-family: var(--font-family-poppins);
}

.contact__input:focus {
  border-color: var(--color-blue);
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

#form__msg_input {
  grid-column: 1/-1;
}

#form__submit_btn {
  grid-column: 1;
  grid-row: 3;
  font-size: 20px;
  background-color: var(--color-btn);
  color: var(--color-white);
  padding: 1rem 0;
  border-radius: 5px;
  border: 2px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  transition: all ease 0.5s;
  cursor: pointer;
}

#form__submit_btn:hover {
  transform: scale(1.05);
  transition: all ease 0.5s;
}
