/*---------------------*/
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--gutter);
}

/* DRY section*/
.section-base {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 2.55rem 0;
}

.section-with-bg::after {
  content: "";
  position: absolute;
  background-color: var(--color-section-bg);
  z-index: -1;
  width: 100vw;
  height: inherit; //inherits the height from it's parent (section-base)
  top: 0;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);
}

.section__heading {
  font-size: 65px;
  font-family: var(--font-family-raleway);
  font-weight: 600;
  margin-bottom: 5rem;
  align-self: flex-start;
  color: var(--color-section-heading);
}

.back_to_top {
  position: fixed;
  color: var(--color-white);
  background-color: var(--color-btn);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none; /* prevents clicking when the btn is hidden */
}

.back_to_top.show {
  opacity: 1;
  pointer-events: auto; /* enable clicks when visible */
}
.back_to_top:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all ease 0.3s;
}

.back_to_top::before {
  content: "\2191";
  font-size: 20px;
}
