/* Skills section*/
.skills {
  height: auto;
}

.skills__heading {
  margin-bottom: 2rem;
}

.skills__list {
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 4rem;
}

.skills__item {
  cursor: pointer;
  padding: 1.5rem;
  color: var(--color-blue-900);
  transition: all 0.3s ease;
}

.skills__item_heading {
  font-size: 40px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  color: var(--color-project-accent);
}

.skills__item_paragraph {
  font-size: 20px;
  font-family: var(--font-family-raleway);
}
