/* Reset default values*/
:root {
  --container-width: 119rem;
  --gutter: 2rem;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-dark-green: #42959b;
  --color-grey: #f6f6f6;
  --color-background: var(--color-white);
  --color-line: var(--color-black);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "poppins", sans-serif;
  --font-weight-bold: 700;
  --font-size-65: 65px;
  --toggle-bg: var(--color-black);
  --toggle-knob: var(--color-white);
  --scroll-margin-top: 110px;
  --section-height: 80vh;
  --font-size-nav: 19px;
}
